.card-container {
  /* Define primary color */
  --primary-color: black;
  --secondary-color: black;

  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 8px;
  width: var(--card-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.card-container:active {
  opacity: 0.7;
}

.card-container div {
  background-color: white;
  margin-top: 3px;
  padding: 0px 22px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 150px;
  overflow: hidden;
}

.card-container header {
  width: 100%;
  text-align: end;
  padding: 4px 0px;
  color: var(--secondary-color);
}

.card-container img {
  width: calc(var(--card-width) - 50px);
}

.card-container h2 {
  width: 100%;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
