<main id="pokemonDetails" [class.legendary]="pokemon.isLegendary">
  <header>
    <img src="assets/icons/left-arrow-white.svg" alt="Go back" (click)="clearSelection()">
    <h1 class="pokemon-name">{{pokemon.name}}</h1>
    <span>{{pokemon.number}}</span>
  </header>

  <div class="pokemon-details">
    <!-- Pokemon img -->
    <article class="pokemon-photo">
      <img [src]="pokemon.img" [alt]="pokemon.name">
    </article>

    <!-- Arrow buttons to go next and previous pokemon -->
    <article class="actions">
      <img src="assets/icons/arrow.svg" alt="left arrow" (click)="previous()">
      <img src="assets/icons/arrow.svg" alt="right arrow" (click)="next()">
    </article>

    <!-- Pokemon generation -->
    <article class="features">
      <span class="specials">
        <div *ngIf="pokemon.isLegendary" class="tooltip">
          <img src="assets/imgs/legendary.png" alt="legendary pokemon" width="30">
          <span class="tooltip-text">Legendary</span>
        </div>
        <div *ngIf="pokemon.isMythical" class="tooltip">
          <img src="assets/imgs/mythical.png" alt="Mythical pokemon" width="30">
          <span class="tooltip-text">Mythical</span>
        </div>
      </span>

      <span class="generation">
        {{pokemon.gen}}
      </span>
    </article>

    <!-- Pokemon types -->
    <article class="flex">
      <span *ngFor="let type of pokemon.types" class="type" [style.background-color]="getPokemonColorByType(type)">
        {{type}}
      </span>
    </article>

    <!-- Pokemon about -->
    <section class="pokemon-about">
      <h2>About</h2>

      <div>
        <!-- Pokemon Weight -->
        <article>
          <span>
            <img src="assets/icons/weight.svg" alt="Pokemon weight">
            <div class="about-content"> {{pokemon.weight | pokemonWeight}} </div>
          </span>
          <h4>Weight</h4>
        </article>

        <!-- Pokemon height -->
        <article>
          <span>
            <img src="assets/icons/height.svg" alt="Pokemon height">
            <div class="about-content"> {{pokemon.height | pokemonHeight}} </div>
          </span>
          <h4>Height</h4>
        </article>

        <!-- Pokemon moves -->
        <article>
          <span>
            <div *ngFor="let move of pokemon.moves" class="about-content">{{move}}</div>
          </span>
          <h4>Moves</h4>
        </article>
      </div>

    </section>

    <!-- Pokemon description -->
    <p class="pokemon-description">{{pokemon.description}}</p>

    <!-- Pokemon base status -->
    <section class="pokemon-status">
      <h2>Base Stats</h2>

      <!-- Status -->
      <article *ngFor="let item of statusOptions">

        <!-- Status Name -->
        <div>{{item}}</div>

        <!-- Status value -->
        <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
          <p>{{getPokemonStatusByKey(item)}}</p>
          <span class="status-bar">
            <div [style.width]="getStatusBarWidth(item)"></div>
          </span>
        </div>

      </article>

    </section>
  </div>
</main>
