/* START Main */
main {
  /* Define primary color */
  --primary-color: black;
  --secondary-color: black;

  /* Define header height */
  --header-height: 200px;

  /* Define section color */
  --section-color: black;

  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));

  max-height: 920px;
  padding: 8px;
  border-radius: 8px;
  margin: 15px;
}
/* END Main */

/* START Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 10px 20px;
  height: var(--header-height);
  z-index: -1;
}

header:before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
  height: 305px;
  opacity: 0.1;
  background-image: url("/assets/icons/pokeball-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

header span {
  font-size: medium;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 10px;
}

.share-button {
  color: var(--secondary-color);
  z-index: 1000;
  cursor: pointer;
  font-size: x-large;
}

.share-button:hover {
  color: var(--light-gray-color);
}

header img {
  cursor: pointer;
  display: none;
  margin-top: 5px;
}
/* END Header */

/* START favorite */
.favorite {
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/500% 100%;
  background-repeat: repeat;
  animation: shimmer 2s infinite;
}
/* END favorite */

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

/* START Pokemon details */
.pokemon-details {
  height: calc(100% - var(--header-height));
  background-color: var(--white-color);
  border-radius: 8px;
}

.pokemon-photo {
  display: flex;
  justify-content: center;
}

.pokemon-photo img {
  justify-content: center;
  position: absolute;
  width: 16rem;
  text-align: center;
  margin: auto;
  margin-top: calc(70px - var(--header-height));
}

.pokemon-name {
  text-transform: capitalize;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: -40px;
  margin-bottom: 25px;
}

.actions img {
  width: 10px;
  cursor: pointer;
  z-index: 1;
}

.actions img:first-child {
  /* Rotate 180 degrees along the y-axis */
  transform: rotateY(180deg);
}

.actions img:active {
  opacity: 0.7;
}

.type {
  padding: 5px 10px;
  color: var(--white-color);
  border-radius: 8px;
  text-transform: capitalize;
}

.features {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 100px;
  height: 20px;
}

.features span {
  font-size: 10px;
}

.favorite-pokemon {
  font-size: 23px;
  cursor: pointer;
}

/* END Pokemon details */

/* START About */
.pokemon-about {
  --section-color: var(--primary-color);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: var(--section-color);
  margin: 20px;
}

.pokemon-about div {
  display: flex;
  gap: 10px;
}

.pokemon-about div article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 9rem;
  height: 100px;
}

.pokemon-about div article img {
  height: 20px;
}

.pokemon-about div article:not(:last-child) {
  border-right: 2px solid var(--light-gray-color);
}

.pokemon-about div article:last-child span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  gap: 0px;
}

.pokemon-about div article span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: small;
  flex-direction: column;
}

.pokemon-about div article h4 {
  color: var(--medium-gray-color);
  font-size: 12px;
}

/* END About */

/* START Description */
.pokemon-description {
  padding: 16px 20px;
  text-align: justify;
  color: var(--dark-gray-color);
  margin: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
}
/* END Description */

/* START Status */
.pokemon-status {
  --section-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.pokemon-status article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}

.pokemon-status article div:first-child {
  border-right: 2px solid var(--light-gray-color);
  width: 80px;
  text-align: end;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 20px;
  color: var(--section-color);
}

.pokemon-status p {
  margin: 0px 8px;
  color: var(--dark-gray-color);
  width: 40px;
}

.status-bar {
  width: 100%;
  background-color: var(--light-gray-color);
  margin-left: 5px;
  height: 5px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.status-bar div {
  background-color: var(--section-color);
  height: 5px;
  border-radius: 8px;
  color: transparent;
}
/* END Status */

/* START Responsiveness */
@media only screen and (max-width: 900px) {
  header img {
    display: block;
  }

  .pokemon-name {
    font-size: large;
  }
}
@media only screen and (max-height: 920px) {
  main {
    --header-height: 150px;
    height: 590px;
  }

  .pokemon-photo img {
    width: 10rem;
    margin-top: -100px;
  }

  h2 {
    margin: 5px;
    font-size: medium;
  }

  .pokemon-about {
    margin: 0px;
  }

  .pokemon-about div article {
    width: 6rem;
    height: 70px;
    padding: 0px;
  }

  .about-content {
    font-size: 10px;
  }

  .pokemon-description {
    font-size: 11px;
    padding: 10px 20px;
    padding-bottom: 0px !important;
  }

  .features {
    margin-bottom: 40px;
  }

  .type {
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 4px;
  }

  header:before {
    width: 200px;
    height: 205px;
  }

  .pokemon-status {
    font-size: smaller;
  }
}

@media only screen and (max-height: 600px) {
  main {
    --header-height: 110px;
    height: 500px;
  }

  .pokemon-photo img {
    width: 8rem;
    margin-top: -70px;
  }

  .pokemon-status {
    font-size: 10px;
  }

  .pokemon-description {
    margin: 0;
    padding: 10px 8px;
  }

  h2 {
    margin: 5px;
    font-size: 14px;
  }

  .pokemon-about div article {
    width: 5rem;
    height: 60px;
    padding: 0px;
  }

  .pokemon-about div article h4 {
    font-size: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .pokemon-about {
    gap: 5px;
  }
  .about-content {
    font-size: 8px;
  }
  .pokemon-about div article {
    width: 4rem;
  }

  header:before {
    width: 120px;
    height: 120px;
  }

  header {
    padding: 5px;
  }

  header div {
    gap: 5px;
  }

  header div span {
    font-size: smaller;
  }

  header div mat-icon {
    font-size: medium;
    margin-top: 5px;
  }

  header img {
    width: 15px;
    height: 15px;
  }

  .pokemon-name {
    font-size: medium;
  }
}
