main {
  display: flex;
}

.pokedex-container {
  height: 190px;
  width: 100%;
  margin: 10px;
}

.card-list {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding-top: 30px;
}

aside {
  width: 100%;
  min-width: 350px;
  max-width: 500px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

header h1 {
  margin-left: 10px;
}

header div:first-child {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
select {
  width: 100%;
  max-width: 1000px;
  border: 2px solid var(--light-gray-color);
  padding: 6px 16px 6px 16px;
  height: 40px;
  border-radius: 8px;
}

select {
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  gap: 15px;
  justify-content: center;
}

.empty-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.has-selected-pokemon {
  display: block;
}

/* START Responsiveness */
@media only screen and (max-width: 950px) {
  .has-selected-pokemon {
    display: none;
  }
  aside {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
