<main>

  <div class="pokedex-container" [class.has-selected-pokemon]="selectedPokemon">
    <select name="Generation" #selectGen (change)="onChangeGen(+selectGen.value)">
      <option *ngFor="let gen of generationsOptions" [value]="gen.id" [selected]="gen.id == defaultGen">{{gen.name}}
      </option>
    </select>

    <!-- Header -->
    <header>
      <div>
        <span class="flex">
          <img src="assets/icons/pokeball.svg" alt="Pokebola" width="50">
          <h1>Pokédex</h1>
        </span>
        <div class="flex">
          <!-- If is favorite -->
          <span class="flex" style="cursor: pointer;">
            <mat-icon style="font-size: 25px; margin-right: 10px;" [matMenuTriggerFor]="menu">filter_list</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateFilter('clear')">
                <mat-icon>clear_all</mat-icon>
                <span>Clear filter</span>
              </button>
              <button mat-menu-item (click)="updateFilter('favorite')">
                <mat-icon>star</mat-icon>
                <span>Favorites</span>
              </button>
              <button mat-menu-item (click)="updateFilter('unfavorite')">
                <mat-icon>star_border</mat-icon>
                <span>Unfavorite</span>
              </button>
            </mat-menu>
          </span>

          <!-- Toggle list order -->
          <span class="flex" style="cursor: pointer;" (click)="toggleListOrder()">
            <container-element [ngSwitch]="listOrder">
              <div *ngSwitchCase="listOrderOptions.NORMAL">
                <img src="assets/icons/normal-order.svg" alt="bottom-arrow" width="30">
              </div>
              <div *ngSwitchCase="listOrderOptions.ASC">
                <img src="assets/icons/asc-order.svg" alt="bottom-arrow" width="30">
              </div>
            </container-element>
          </span>

        </div>
      </div>
      <div class="input-search">
        <input [formControl]="search" type="text" placeholder="Search">
        <img src="assets/icons/close.svg" alt="bottom-arrow" width="15" (click)="clearInput()" *ngIf="hasSearch">
      </div>
    </header>

    <!-- Card list -->
    <section id="cardList" class="grid" *ngIf="!isLoading">
      <app-card *ngFor="let pokemon of filteredPokemons" [pokemon]="pokemon" (click)="selectPokemon(pokemon)">
      </app-card>
    </section>

    <!-- Empty list feedback -->
    <div class="empty-list" *ngIf="isListEmpty">
      <img src="assets/imgs/sad.svg" alt="Empty list" width="300">
      <h2>No Pokémon of this generation have been found.</h2>
    </div>

    <!-- Empty list feedback -->
    <div *ngIf="isLoading" class="flex-column">
      <div class="pokeball bounce"></div>
      <div class="loading">Loading</div>
    </div>

  </div>

  <aside *ngIf="selectedPokemon && showPokemonDetails" [@slideInOut]>
    <app-details [showRightArrow]="showRightArrow()" [showLeftArrow]="showLeftArrow()"
      (updateSelectedPokemon)="updateSelectedPokemon($event)" [pokemon]="selectedPokemon">
    </app-details>
  </aside>

</main>
