/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--background-color);
}

* {
  /* Define default styles */
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif; /* Define font */

  /* Define Pokemon colors */
  --rock-color: #b69e31;
  --ghost-color: #70559b;
  --steel-color: #b7b9d0;
  --water-color: #6493eb;
  --grass-color: #74cb48;
  --psychic-color: #fb5584;
  --ice-color: #9ad6df;
  --dark-color: #75574c;
  --fairy-color: #e69eac;
  --normal-color: #aaa67f;
  --fighting-color: #c12239;
  --flying-color: #a891ec;
  --poison-color: #a43e9e;
  --ground-color: #dec16b;
  --bug-color: #a7b723;
  --fire-color: #f57d31;
  --electric-color: #f9cf30;
  --dragon-color: #7037ff;

  /* Define Grayscale  */
  --dark-grey-color: #212121;
  --medium-gray-color: #666666;
  --light-gray-color: #e0e0e0;
  --white-color: #ffffff;
  --background-color: #f7f7f7;

  /* Define card properties */
  --card-width: 170px;
  --card-height: 170px;
}

/* START - INPUT DEFAULT STYLES */
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
/* END - INPUT DEFAULT STYLES */

/* START - SNACK BAR STYLES */
.snack-bar {
  color: var(--dark-grey-color);
  background: url('/assets/imgs/pokeball-logo.svg') no-repeat scroll 7px 16px;
  background-color: var(--light-gray-color);
  background-size: 15px;
}
.snack-bar button {
  color: var(--medium-gray-color);
}
.snack-bar simple-snack-bar {
  padding-left: 15px !important;
}
/* END - SNACK BAR STYLES */

/* START - SCROLL DEFAULT STYLES */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}
/* END - SCROLL DEFAULT STYLES */

/* START - FLEX CONTAINER */
.flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.flex-column {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
  flex-direction: column;
}
/* END - FLEX CONTAINER */

/* START - bounce effect */
.bounce {
  -webkit-animation: bounce 1000ms infinite;
  animation: bounce 1000ms infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* END - bounce effect */

/* START - Pokeball draw code */
.pokeball {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px black;
  position: relative;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  margin: 10px auto;
}
.pokeball:before,
.pokeball:after {
  content: "";
  display: block;
}
.pokeball,
.pokeball:before,
.pokeball:after {
  transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
}
.pokeball:before {
  height: 24px;
  border-bottom: solid 2px black;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
}
.pokeball:after {
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px black, 0 0 0 2px #ddd, 0 0 0 3.5714285714px black, 0 0 5px 2.9411764706px rgba(0, 0, 0, 0.4);
}
/* END - Pokeball draw code */

/* START - ellipsis effect */
.loading {
  font-size: medium;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
/* END - ellipsis effect */

/* START - Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* END - Tooltip */

/* START - slide effect */
@keyframes slide-left {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
}
/* END - slide effect */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
